{% extends 'base.html' %}

{% block title %}List a Bird - Avian Haven{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h4>List New Bird</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-lg w-100 mt-3">
                        List This Bird
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}