<footer class="bg-success text-white py-5 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-dove"></i> Avian Haven</h5>
                <p>Ethical bird marketplace for buying, rehoming, adoption and veterinary services in Kenya.</p>
            </div>
            <div class="col-md-2">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="{% url 'bird_listings' %}" class="text-white text-decoration-none">Browse Birds</a></li>
                    <li><a href="{% url 'blog_list' %}" class="text-white text-decoration-none">Blogs</a></li>
                    
                </ul>
            </div>
            <div class="col-md-2">
                
                <ul class="list-unstyled">
                    <li><a href="{% url 'bird_listings' %}?type=sell" class="text-white text-decoration-none">Buy</a></li>
                    <li><a href="{% url 'bird_listings' %}?type=rehome" class="text-white text-decoration-none">Rehome</a></li>
                    <li><a href="{% url 'bird_listings' %}?type=adopt" class="text-white text-decoration-none">Adopt</a></li>
                </ul>
            </div>
            
            <div class="col-md-2">
                <h6>Contact</h6><a href="{% url 'contact' %}" class="text-white text-decoration-none">Get in Touch</a>
                <p class="small">Nairobi, Kenya<br>info@avianhaven.co.ke</p>
            </div>
        </div>
        <hr>
        <div class="text-center small">
            © 2026 Avian Haven • Ethical • Regulated • Transparent
        </div>
    </div>
</footer>